<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.membership.mappers.AccountMapper">
  <resultMap id="findOne_Result" type="com.x3platform.membership.models.AccountInfo" >
    <result property="mId" column="id" />
    <result property="mCode" column="code" />
    <result property="mName" column="name" />
    <result property="mGlobalName" column="global_name" />
    <result property="mDisplayName" column="display_name" />
    <result property="mPinYin" column="pinyin" />
    <result property="mLoginName" column="login_name" />
    <result property="mIdentityCard" column="identity_card" />
    <result property="mType" column="type" />
    <result property="mCertifiedMobile" column="certified_mobile" />
    <result property="mCertifiedEmail" column="certified_email" />
    <result property="mCertifiedAvatar" column="certified_avatar" />
    <result property="mEnableEmail" column="enable_email" />
    <result property="mIsDraft" column="is_draft" />
    <result property="mLocking" column="locking" />
    <result property="mOrderId" column="order_id" />
    <result property="mStatus" column="status" />
    <result property="mRemark" column="remark" />
    <result property="mIP" column="ip" />
    <result property="mLoginDate" column="login_date" />
    <result property="mDistinguishedName" column="distinguished_name" />
    <result property="mModifiedDate" column="modified_date" />
    <result property="mCreatedDate" column="created_date" />
  </resultMap>
  <resultMap id="findAll_Result" type="com.x3platform.membership.models.AccountInfo">
    <result property="mId" column="id" />
    <result property="mCode" column="code" />
    <result property="mName" column="name" />
    <result property="mGlobalName" column="global_name" />
    <result property="mDisplayName" column="display_name" />
    <result property="mPinYin" column="pinyin" />
    <result property="mLoginName" column="login_name" />
    <result property="mIdentityCard" column="identity_card" />
    <result property="mType" column="type" />
    <result property="mCertifiedMobile" column="certified_mobile" />
    <result property="mCertifiedEmail" column="certified_email" />
    <result property="mCertifiedAvatar" column="certified_avatar" />
    <result property="mEnableEmail" column="enable_email" />
    <result property="mIsDraft" column="is_draft" />
    <result property="mLocking" column="locking" />
    <result property="mOrderId" column="order_id" />
    <result property="mStatus" column="status" />
    <result property="mRemark" column="remark" />
    <result property="mIP" column="ip" />
    <result property="mLoginDate" column="login_date" />
    <result property="mDistinguishedName" column="distinguished_name" />
    <result property="mModifiedDate" column="modified_date" />
    <result property="mCreatedDate" column="created_date" />
  </resultMap>
  <insert id="insert" parameterType="com.x3platform.membership.models.AccountInfo">
    INSERT INTO sys_account
    (
      id,
      code,
      name,
      global_name,
      display_name,
      pinyin,
      login_name,
      password,
      identity_card,
      type,
      certified_telephone,
      certified_email,
      certified_avatar,
      enable_email,
      is_draft,
      locking,
      order_id,
      status,
      remark,
      ip,
      login_date,
      distinguished_name,
      modified_date,
      created_date
    )
    VALUES
    (
      #{mId},
      #{mCode},
      #{mName},
      #{mGlobalName},
      #{mDisplayName},
      #{mPinYin},
      #{mLoginName},
      #{mPassword},
      #{mIdentityCard},
      #{mType},
      #{mCertifiedMobile},
      #{mCertifiedEmail},
      #{mCertifiedAvatar},
      #{mEnableEmail},
      #{mIsDraft},
      #{mLocking},
      #{mOrderId},
      #{mStatus},
      #{mRemark},
      #{mIP},
      #{mLoginDate},
      #{mDistinguishedName},
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="update" parameterType="com.x3platform.membership.models.AccountInfo">
    UPDATE sys_account SET

      code = #{mCode},
      name = #{mName},
      global_name = #{mGlobalName},
      display_name = #{mDisplayName},
      pinyin = #{mPinYin},
      login_name = #{mLoginName},
      identity_card = #{mIdentityCard},
      type = #{mType},
      enable_email = #{mEnableEmail},
      locking = #{mLocking},
      order_id = #{mOrderId},
      status = #{mStatus},
      remark = #{mRemark},
      distinguished_name = #{mDistinguishedName},
      modified_date = CURRENT_TIMESTAMP

    WHERE id = #{id}
  </update>

  <delete id="delete">
    DELETE FROM sys_account WHERE id = #{id}
  </delete>
  <select id="findOne" resultMap="findOne_Result">
    SELECT * FROM sys_account WHERE id = #{id}
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="findAll_Result">
    SELECT * FROM sys_account T
    <where>
      <if test="whereClause != null and whereClause !=''">
        ${whereClause}
      </if>
    </where>
    <if test="orderBy != null and orderBy !=''">
      ORDER BY ${orderBy}
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>
  <select id="findAllByOrganizationUnitId" resultMap="findAll_Result">
    SELECT * FROM sys_account where id IN (SELECT account_id from sys_account_organization_unit WHERE organization_unit_id = #{organizationUnitId})
  </select>
  <select id="isExist" resultType="boolean">
    SELECT COUNT(0) AS "Count" FROM sys_account WHERE id = #{id}
  </select>
  <select id="isExistName" resultType="boolean">
    SELECT COUNT(0) AS "Count" FROM sys_account WHERE Name = #{name}
  </select>
</mapper>
