<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.apps.mappers.ApplicationMethodMapper">
  <resultMap id="BaseResultMap" type="com.x3platform.apps.models.ApplicationMethod">
    <result property="id" jdbcType="VARCHAR" column="id" />
    <result property="applicationId" jdbcType="VARCHAR" column="application_id" />
    <result property="code" jdbcType="VARCHAR" column="code" />
    <result property="name" jdbcType="VARCHAR" column="name" />
    <result property="displayName" jdbcType="VARCHAR" column="display_name" />
    <result property="description" jdbcType="VARCHAR" column="description" />
    <result property="detail" jdbcType="VARCHAR" column="detail" />
    <result property="type" jdbcType="VARCHAR" column="type" />
    <result property="options" jdbcType="VARCHAR" column="options" />
    <result property="effectScope" jdbcType="INTEGER" column="effect_scope" />
    <result property="version" jdbcType="INTEGER" column="version" />
    <result property="orderId" jdbcType="VARCHAR" column="order_id" />
    <result property="status" jdbcType="INTEGER" column="status" />
    <result property="remark" jdbcType="VARCHAR" column="remark" />
    <result property="modifiedDate" jdbcType="TIMESTAMP" column="modified_date" />
    <result property="createdDate" jdbcType="TIMESTAMP" column="created_date" />
  </resultMap>
  <sql id="Select_Where_Clause">
    <where>
      <!-- 列表查询 -->
      <if test="var_scene == 'Query'">
        <if test="param_search_text != null and param_search_text != ''">
          t.name LIKE concat('%',#{param_search_text},'%')
        </if>
      </if>

      <!-- 默认 -->
      <if test="var_scene == 'default'">
        <if test="param_id != null and param_id != ''">
          AND t.id = #{param_id}
        </if>
        <if test="param_application_id != null and param_application_id != ''">
          AND t.application_id = #{param_application_id}
        </if>
        <if test="param_code != null and param_code != ''">
          AND t.code = #{param_code}
        </if>
        <if test="param_name != null and param_name != ''">
          AND t.name = #{param_name}
        </if>
        <if test="param_display_name != null and param_display_name != ''">
          AND t.display_name = #{param_display_name}
        </if>
        <if test="param_description != null and param_description != ''">
          AND t.description = #{param_description}
        </if>
        <if test="param_detail != null and param_detail != ''">
          AND t.detail = #{param_detail}
        </if>
        <if test="param_effect_scope != null">
          AND t.effect_scope = #{param_effect_scope}
        </if>
        <if test="param_version != null">
          AND t.version = #{param_version}
        </if>
        <if test="param_status != null">
          AND t.status = #{param_status}
        </if>
        <if test="param_remark != null and param_remark != ''">
          AND t.remark = #{param_remark}
        </if>
      </if>
    </where>
  </sql>
  <insert id="insert" parameterType="com.x3platform.apps.models.ApplicationMethod">
    INSERT INTO application_method
    (
      id,
      application_id,
      code,
      name,
      display_name,
      description,
      detail,
      type,
      options,
      effect_scope,
      version,
      order_id,
      status,
      remark,
      modified_date,
      created_date
    )
    VALUES
    (
      #{id,jdbcType=VARCHAR},
      #{applicationId,jdbcType=VARCHAR},
      #{code,jdbcType=VARCHAR},
      #{name,jdbcType=VARCHAR},
      #{displayName,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},
      #{detail,jdbcType=VARCHAR},
      #{type,jdbcType=VARCHAR},
      #{options,jdbcType=VARCHAR},
      #{effectScope,jdbcType=INTEGER},
      #{version,jdbcType=INTEGER},
      #{orderId,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER},
      #{remark,jdbcType=VARCHAR},
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.x3platform.apps.models.ApplicationMethod">
    UPDATE application_method SET

      application_id = #{applicationId,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      options = #{options,jdbcType=VARCHAR},
      effect_scope = #{effectScope,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      modified_date = CURRENT_TIMESTAMP

    WHERE id = #{id}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    DELETE FROM application_method WHERE id = #{id}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT * FROM application_method WHERE id = #{id}
  </select>
  <select id="findOneByName" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT * FROM application_method WHERE name = #{name}
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM application_method t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator="," >
        ${order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>
  <select id="isExist" resultType="boolean" >
    SELECT COUNT(0) AS "Count" FROM application_method WHERE id = #{id}
  </select>
</mapper>
