<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.apps.mappers.ApplicationEventMapper">
  <resultMap id="BaseResultMap" type="com.x3platform.apps.models.ApplicationEvent">
    <result property="id" jdbcType="VARCHAR" column="id" />
    <result property="accountId" jdbcType="VARCHAR" column="account_id" />
    <result property="accountName" jdbcType="VARCHAR" column="account_name" />
    <result property="applicationId" jdbcType="VARCHAR" column="application_id" />
    <result property="applicationFeatureName" jdbcType="VARCHAR" column="application_feature_name" />
    <result property="level" jdbcType="VARCHAR" column="level" />
    <result property="description" jdbcType="VARCHAR" column="description" />
    <result property="startTime" jdbcType="TIMESTAMP" column="start_time" />
    <result property="finishTime" jdbcType="TIMESTAMP" column="finish_time" />
    <result property="timespan" jdbcType="DECIMAL" column="timespan" />
    <result property="ip" jdbcType="VARCHAR" column="ip" />
    <result property="createdDate" jdbcType="TIMESTAMP" column="created_date" />
  </resultMap>
  <sql id="Select_Where_Clause">
    <where>
      <!-- 列表查询 -->
      <if test="var_scene == 'Query'">
        <if test="param_search_text != null and param_search_text != ''">
          t.description LIKE concat('%',#{param_search_text},'%')
        </if>
      </if>
      <!-- 默认 -->
      <if test="var_scene == 'default'">
        <if test="param_level != null and param_level != ''">
          AND t.level = #{param_level}
        </if>
        <if test="param_description != null and param_description != ''">
          AND t.description = #{param_description}
        </if>
        <if test="param_start_time != null">
          AND t.start_time = #{param_start_time}
        </if>
        <if test="param_finish_time != null">
          AND t.finish_time = #{param_finish_time}
        </if>
        <if test="param_ip != null and param_ip != ''">
          AND t.ip = #{param_ip}
        </if>
      </if>
    </where>
  </sql>
  <insert id="insert" parameterType="com.x3platform.apps.models.ApplicationEvent">
    INSERT INTO application_event 
    (
      id,
      account_id,
      account_name,
      application_id,
      application_feature_name,
      level,
      description,
      start_time,
      finish_time,
      timespan,
      ip,
      created_date
    )
    VALUES
    (
      #{id,jdbcType=VARCHAR},
      #{accountId,jdbcType=VARCHAR},
      #{accountName,jdbcType=VARCHAR},
      #{applicationId,jdbcType=VARCHAR},
      #{applicationFeatureName,jdbcType=VARCHAR},
      #{level,jdbcType=VARCHAR},
      #{description,jdbcType=VARCHAR},
      #{startTime,jdbcType=TIMESTAMP},
      #{finishTime,jdbcType=TIMESTAMP},
      #{timespan,jdbcType=DECIMAL},
      #{ip,jdbcType=VARCHAR},
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.x3platform.apps.models.ApplicationEvent">
    UPDATE application_event SET

      account_id = #{accountId,jdbcType=VARCHAR},
      account_name = #{accountName,jdbcType=VARCHAR},
      application_id = #{applicationId,jdbcType=VARCHAR},
      application_feature_name = #{applicationFeatureName,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      finish_time = #{finishTime,jdbcType=TIMESTAMP},
      timespan = #{timespan,jdbcType=DECIMAL},
      ip = #{ip,jdbcType=VARCHAR}

    WHERE id = #{id}
  </update>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    DELETE FROM application_event WHERE id = #{id}
  </delete>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT * FROM application_event WHERE id = #{id}
  </select>  
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM application_event t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator="," >
        ${order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>
</mapper>
