<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.apps.mappers.ApplicationMapper">
  <resultMap id="BaseResultMap" type="com.x3platform.apps.models.Application">
    <result property="id" column="id"/>
    <result property="accountId" column="account_id"/>
    <result property="parentId" column="parent_id"/>
    <result property="code" column="code"/>
    <result property="applicationName" column="application_name"/>
    <result property="applicationDisplayName" column="application_display_name"/>
    <result property="applicationKey" column="application_key"/>
    <result property="applicationSecret" column="application_secret"/>
    <result property="pinyin" column="pinyin"/>
    <result property="description" column="description"/>
    <result property="hasChildren" column="has_children"/>
    <result property="administratorEmail" column="administrator_email"/>
    <result property="iconPath" column="icon_path"/>
    <result property="bigIconPath" column="big_icon_path"/>
    <result property="helpUrl" column="help_url"/>
    <result property="licenseStatus" column="license_status"/>
    <result property="hidden" column="hidden"/>
    <result property="locking" column="locking"/>
    <result property="orderId" column="order_id"/>
    <result property="status" column="status"/>
    <result property="remark" column="remark"/>
    <result property="modifiedDate" column="modified_date"/>
    <result property="createdDate" column="created_date"/>
  </resultMap>
  <resultMap id="LiteResultMap" type="com.x3platform.apps.models.ApplicationLite">
    <result property="id" column="id"/>
    <result property="accountId" column="account_id"/>
    <result property="parentId" column="parent_id"/>
    <result property="code" column="code"/>
    <result property="applicationName" column="application_name"/>
    <result property="applicationDisplayName" column="application_display_name"/>
    <result property="pinyin" column="pinyin"/>
    <result property="description" column="description"/>
    <result property="hasChildren" column="has_children"/>
    <result property="administratorEmail" column="administrator_email"/>
    <result property="iconPath" column="icon_path"/>
    <result property="bigIconPath" column="big_icon_path"/>
    <result property="helpUrl" column="help_url"/>
    <result property="licenseStatus" column="license_status"/>
    <result property="hidden" column="hidden"/>
    <result property="locking" column="locking"/>
    <result property="orderId" column="order_id"/>
    <result property="status" column="status"/>
    <result property="remark" column="remark"/>
    <result property="modifiedDate" column="modified_date"/>
    <result property="createdDate" column="created_date"/>
  </resultMap>
  <sql id="Select_Where_Clause">
    <where>
      <!-- 列表查询 -->
      <if test="var_scene == 'Query'">
        <if test="param_search_text != null and param_search_text != ''">
          AND ( application_name LIKE concat('%',#{param_search_text},'%') OR application_display_name LIKE concat('%',#{param_search_text},'%')
          OR description LIKE concat('%',#{param_search_text},'%') )
        </if>
      </if>

      <!-- 默认 -->
      <if test="var_scene == 'default'">
        <if test="param_parent_id != null and param_parent_id != ''">
          AND parent_id = #{param_parent_id}
        </if>
        <if test="param_status != null and param_status != ''">
          AND status = #{param_status}
        </if>
      </if>
    </where>
  </sql>
  <insert id="insert" parameterType="com.x3platform.apps.models.Application">
    INSERT INTO application
    (
      id,
      account_id,
      parent_id,
      code,
      application_name,
      application_display_name,
      application_key,
      application_secret,
      pinyin,
      description,
      administrator_email,
      icon_path,
      big_icon_path,
      help_url,
      license_status,
      hidden,
      locking,
      order_id,
      status,
      remark,
      modified_date,
      created_date
    )
    VALUES
    (
      #id#,
      #accountId#,
      #parentId#,
      #code#,
      #applicationName#,
      #applicationDisplayName#,
      #applicationKey#,
      #applicationSecret#,
      #pinyin#,
      #description#,
      #administratorEmail#
      #iconPath#,
      #bigIconPath#,
      #helpUrl#,
      #licenseStatus#,
      #hidden#,
      #locking#,
      #orderId#,
      #status#,
      #remark#,
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.x3platform.apps.models.Application">
    UPDATE application SET

      parent_id = #{parentId},
      code = #{code},
      application_name = #{applicationName},
      application_display_name = #{applicationDisplayName},
      application_key = #{applicationKey},
      application_secret = #{applicationSecret},
      pinyin = #{pinyin},
      description = #{description},
      administrator_email = #{administratorEmail},
      icon_path = #{iconPath},
      big_icon_path = #{bigIconPath},
      help_url = #{helpUrl},
      license_status = #{licenseStatus},
      hidden = #{hidden},
      locking = #{locking},
      order_id = #{orderId},
      status = #{status},
      remark = #{remark},
      modified_date = CURRENT_TIMESTAMP

    WHERE id = #{id}
  </update>
  <!--
  <update id="Sync_HasChildren" >
      CREATE TEMPORARY TABLE tmp (Id VARCHAR(36) PRIMARY KEY, ParentId VARCHAR(36), Status INT);

      INSERT INTO tmp SELECT Id, ParentId, Status FROM application;

      UPDATE application SET HasChildren = (
        SELECT CASE COUNT(Id) WHEN  0 THEN 0 ELSE 1 END
        FROM tmp WHERE tmp.ParentId = application.Id AND tmp.Status = 1) ;

      DROP TEMPORARY TABLE tmp;
  </update>
  -->
  <delete id="deleteByPrimaryKey">
    DELETE FROM application WHERE id = #{id}
  </delete>
  <select id="selectByPrimaryKey" parameterType="com.x3platform.apps.models.Application" resultMap="BaseResultMap">
    SELECT * FROM application WHERE id = #{id}
  </select>
  <select id="findOneByApplicationKey" parameterType="com.x3platform.apps.models.Application" resultMap="BaseResultMap">
    SELECT * FROM application WHERE application_key = #{applicationKey}
  </select>
  <select id="findOneByApplicationName" parameterType="com.x3platform.apps.models.Application" resultMap="BaseResultMap">
    SELECT * FROM application WHERE application_name = #{applicationName} LIMIT 0,1
  </select>
  <select id="findAll" resultMap="BaseResultMap">
    SELECT * FROM application t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator=",">
        ${order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>

  <select id="findAllLites" resultMap="LiteResultMap">
    SELECT * FROM application t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator=",">
        ${order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>

  <select id="findAllByAccountId" resultMap="BaseResultMap">
    select * from application
    where id in (
      select ac.entity_id from application_scope ac where ac.authorization_object_id=#{accountId}
    UNION
      select entity_id from application_scope where authorization_object_type='EveryOne'
      )
    order by order_id asc
  </select>
  <select id="findTreeNodesByParentId" resultMap="BaseResultMap">
    SELECT * FROM application T WHERE parent_id = #{parent_id} AND status = 1 ORDER BY order_id, code
  </select>
  <select id="isExist" resultType="java.lang.Boolean" >
    SELECT COUNT(*) AS "Count" FROM application WHERE id = #{id}
  </select>
  <select id="isExistApplicationName" resultType="java.lang.Boolean" >
    SELECT COUNT(*) AS "Count" FROM application WHERE application_name = #{application_name}
  </select>
</mapper>
