<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.apps.mappers.ApplicationMenuMapper" >
  <resultMap id="findOne_Result" type="com.x3platform.apps.models.ApplicationMenuInfo">
    <result property="mId" column="id" />
    <result property="mApplicationId" column="application_id" />
    <result property="mParentId" column="parent_id" />
    <result property="mCode" column="code" />
    <result property="mName" column="name" />
    <result property="mDescription" column="description" />
    <result property="mUrl" column="url" />
    <result property="mTarget" column="target" />
    <result property="mMenuType" column="menu_type" />
    <result property="mIconPath" column="icon_path" />
    <result property="mBigIconPath" column="big_icon_path" />
    <result property="mDisplayType" column="display_type" />
    <result property="mHasChild" column="has_child" />
    <result property="mContextObject" column="context_object" />
    <result property="mOrderId" column="order_id" />
    <result property="mStatus" column="status" />
    <result property="mRemark" column="remark" />
    <result property="mFullPath" column="full_path" />
    <result property="mModifiedDate" column="modified_date" />
    <result property="mCreatedDate" column="created_date" />
  </resultMap>
  <resultMap id="findAll_Result" type="com.x3platform.apps.models.ApplicationMenuInfo">
    <result property="mId" column="id" />
    <result property="mApplicationId" column="application_id" />
    <result property="mParentId" column="parent_id" />
    <result property="mCode" column="code" />
    <result property="mName" column="name" />
    <result property="mDescription" column="description" />
    <result property="mUrl" column="url" />
    <result property="mTarget" column="target" />
    <result property="mMenuType" column="menu_type" />
    <result property="mIconPath" column="icon_path" />
    <result property="mBigIconPath" column="big_icon_path" />
    <result property="mDisplayType" column="display_type" />
    <result property="mHasChild" column="has_child" />
    <result property="mOrderId" column="order_id" />
    <result property="mStatus" column="status" />
    <result property="mRemark" column="remark" />
    <result property="mFullPath" column="full_path" />
    <result property="mModifiedDate" column="modified_date" />
    <result property="mCreatedDate" column="created_date" />
  </resultMap>
  <insert id="insert" parameterType="com.x3platform.apps.models.ApplicationMenuInfo" >
    INSERT INTO application
    (
      id,
      account_id,
      parent_id,
      code,
      application_name,
      application_display_name,
      application_key,
      application_secret,
      pinyin,
      description,
      administrator_email,
      icon_path,
      big_icon_path,
      help_url,
      license_status,
      hidden,
      locking,
      order_id,
      status,
      remark,
      modified_date,
      created_date
    )
    VALUES
    (
      #Id#,
      #AccountId#,
      #ParentId#,
      #Code#,
      #ApplicationName#,
      #ApplicationDisplayName#,
      #ApplicationKey#,
      #ApplicationSecret#,
      #PinYin#,
      #Description#,
      #AdministratorEmail#
      #IconPath#,
      #BigIconPath#,
      #HelpUrl#,
      #LicenseStatus#,
      #Hidden#,
      #Locking#,
      #OrderId#,
      #Status#,
      #Remark#,
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="update" parameterType="com.x3platform.apps.models.ApplicationMenuInfo" >
    UPDATE application SET

      parent_id = #{parentId},
      code = #{code},
      application_name = #{applicationName},
      application_display_name = #{applicationDisplayName},
      application_key = #{applicationKey},
      application_secret = #{applicationSecret},
      pinyin = #{pinyin},
      description = #{description},
      administrator_email = #{administratorEmail},
      icon_path = #{iconPath},
      big_icon_path = #{bigIconPath},
      help_url = #{helpUrl},
      license_status = #{licenseStatus},
      hidden = #{hidden},
      locking = #{locking},
      order_id = #{orderId},
      status = #{status},
      remark = #{remark},
      modified_date = CURRENT_TIMESTAMP

    WHERE Id = #{Id} AND modified_date = #{ModifiedDate}
  </update>
  <!--
      <update id="Sync_HasChildren" >
          CREATE TEMPORARY TABLE tmp (Id VARCHAR(36) PRIMARY KEY, ParentId VARCHAR(36), Status INT);

          INSERT INTO tmp SELECT Id, ParentId, Status FROM application;

          UPDATE application SET HasChildren = (
            SELECT CASE COUNT(Id) WHEN  0 THEN 0 ELSE 1 END
            FROM tmp WHERE tmp.ParentId = application.Id AND tmp.Status = 1) ;

          DROP TEMPORARY TABLE tmp;
      </update>
      -->
  <delete id="delete">
    DELETE FROM application_menu WHERE $WhereClause$
  </delete>
  <select id="findOne" parameterType="com.x3platform.apps.models.ApplicationMenuInfo" resultMap="findOne_Result" >
    SELECT * FROM application_menu WHERE id = #{id}
  </select>
  <select id="findOneByApplicationName" parameterType="com.x3platform.apps.models.ApplicationMenuInfo" resultMap="findOne_Result" >
    SELECT * FROM application_menu WHERE application_name = #{applicationName}
  </select>
  <select id="findAll" resultMap="findAll_Result" >
    SELECT * FROM application_menu T
    <where>
      <if test="param_menu_type != null and param_menu_type != ''">
        AND menu_type = #{param_menu_type}
      </if>
      <if test="param_application_id != null and param_application_id != ''">
        AND application_id = #{param_application_id}
      </if>
      <if test="param_parent_id != null and param_parent_id != ''">
        AND parent_id = #{param_parent_id}
      </if>
      <if test="param_status != null and param_status != ''">
        AND status = #{param_status}
      </if>
    </where>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator="," >
        #{order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>
  <select id="findAllByAccountId" resultMap="findAll_Result" >
    SELECT * FROM application_menu where account_id = ${accountId}
  </select>
  <select id="isExist" resultType="boolean" >
    SELECT COUNT(0) AS "Count" FROM application_menu T WHERE id=#{id}
  </select>
  <select id="hasAuthority" >
    SELECT COUNT(*) AS "Count" FROM view_AuthObject_Account view1, application_scope Scope
    WHERE
    view1.AccountId = #accountId#
    AND View1.AuthorizationObjectId = Scope.AuthorizationObjectId
    AND View1.AuthorizationObjectType = Scope.AuthorizationObjectType
    AND Scope.AuthorityId = #AuthorityId#
    AND Scope.ApplicationId = #ApplicationId#
  </select>
  <insert id="addAuthorizationScopeObject">
    INSERT INTO application_scope
    (authorization_object_type, authorization_object_id, authority_id, application_id, modified_date, created_date)
    VALUES
    (#AuthorizationObjectType#, #AuthorizationObjectId#, #AuthorityId#, #ApplicationId#, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <delete id="removeAuthorizationScopeObjects">
    DELETE FROM application_scope WHERE application_id = #applicationId# AND authority_id = #authorityId#
  </delete>
  <select id="getAuthorizationScopeObjects" >
    SELECT * FROM application_Scope T WHERE application_id = #applicationId# AND authority_id = #authorityId#
  </select>
</mapper>
