<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.apps.mappers.ApplicationMapper" >
  <resultMap id="findOne_Result" type="com.x3platform.apps.models.ApplicationInfo">
    <result property="id" column="id" />
    <result property="accountId" column="account_id" />
    <result property="parentId" column="parent_id" />
    <result property="code" column="code" />
    <result property="applicationName" column="application_name" />
    <result property="applicationDisplayName" column="application_display_name" />
    <result property="applicationKey" column="application_key" />
    <result property="applicationSecret" column="application_secret" />
    <result property="pinyin" column="pinyin" />
    <result property="description" column="description" />
    <result property="hasChildren" column="has_children" />
    <result property="administratorEmail" column="administrator_email" />
    <result property="iconPath" column="icon_path" />
    <result property="bigIconPath" column="big_icon_path" />
    <result property="helpUrl" column="help_url" />
    <result property="licenseStatus" column="license_status" />
    <result property="hidden" column="hidden" />
    <result property="locking" column="locking" />
    <result property="orderId" column="order_id" />
    <result property="status" column="status" />
    <result property="remark" column="remark" />
    <result property="modifiedDate" column="modified_date" />
    <result property="createdDate" column="created_date" />
  </resultMap>
  <resultMap id="findAll_Result" type="com.x3platform.apps.models.ApplicationInfo">
    <result property="id" column="id" />
    <result property="accountId" column="account_id" />
    <result property="parentId" column="parent_id" />
    <result property="code" column="code" />
    <result property="applicationName" column="application_name" />
    <result property="applicationDisplayName" column="application_display_name" />
    <result property="applicationKey" column="application_key" />
    <result property="applicationSecret" column="application_secret" />
    <result property="pinyin" column="pinyin" />
    <result property="description" column="description" />
    <result property="hasChildren" column="has_children" />
    <result property="administratorEmail" column="administrator_email" />
    <result property="iconPath" column="icon_path" />
    <result property="bigIconPath" column="big_icon_path" />
    <result property="helpUrl" column="help_url" />
    <result property="licenseStatus" column="license_status" />
    <result property="hidden" column="hidden" />
    <result property="locking" column="locking" />
    <result property="orderId" column="order_id" />
    <result property="status" column="status" />
    <result property="remark" column="remark" />
    <result property="modifiedDate" column="modified_date" />
    <result property="createdDate" column="created_date" />
  </resultMap>
  <insert id="insert" parameterType="com.x3platform.apps.models.ApplicationInfo" >
    INSERT INTO application
    (
      id,
      account_id,
      parent_id,
      code,
      application_name,
      application_display_name,
      application_key,
      application_secret,
      pinyin,
      description,
      administrator_email,
      icon_path,
      big_icon_path,
      help_url,
      license_status,
      hidden,
      locking,
      order_id,
      status,
      remark,
      modified_date,
      created_date
    )
    VALUES
    (
      #Id#,
      #AccountId#,
      #ParentId#,
      #Code#,
      #ApplicationName#,
      #ApplicationDisplayName#,
      #ApplicationKey#,
      #ApplicationSecret#,
      #PinYin#,
      #Description#,
      #AdministratorEmail#
      #IconPath#,
      #BigIconPath#,
      #HelpUrl#,
      #LicenseStatus#,
      #Hidden#,
      #Locking#,
      #OrderId#,
      #Status#,
      #Remark#,
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="update" parameterType="com.x3platform.apps.models.ApplicationInfo" >
    UPDATE application SET

      parent_id = #{parentId},
      code = #{code},
      application_name = #{applicationName},
      application_display_name = #{applicationDisplayName},
      application_key = #{applicationKey},
      application_secret = #{applicationSecret},
      pinyin = #{pinyin},
      description = #{description},
      administrator_email = #{administratorEmail},
      icon_path = #{iconPath},
      big_icon_path = #{bigIconPath},
      help_url = #{helpUrl},
      license_status = #{licenseStatus},
      hidden = #{hidden},
      locking = #{locking},
      order_id = #{orderId},
      status = #{status},
      remark = #{remark},
      modified_date = CURRENT_TIMESTAMP

    WHERE Id = #{Id} AND modified_date = #{ModifiedDate}
  </update>
  <!--
      <update id="Sync_HasChildren" >
          CREATE TEMPORARY TABLE tmp (Id VARCHAR(36) PRIMARY KEY, ParentId VARCHAR(36), Status INT);

          INSERT INTO tmp SELECT Id, ParentId, Status FROM application;

          UPDATE application SET HasChildren = (
            SELECT CASE COUNT(Id) WHEN  0 THEN 0 ELSE 1 END
            FROM tmp WHERE tmp.ParentId = application.Id AND tmp.Status = 1) ;

          DROP TEMPORARY TABLE tmp;
      </update>
      -->
  <delete id="delete">
    DELETE FROM application WHERE $WhereClause$
  </delete>
  <select id="findOne" parameterType="com.x3platform.apps.models.ApplicationInfo" resultMap="findOne_Result" >
    SELECT * FROM application WHERE id = #{id}
  </select>
  <select id="findOneByApplicationName" parameterType="com.x3platform.apps.models.ApplicationInfo" resultMap="findOne_Result" >
    SELECT * FROM application WHERE application_name = #{applicationName}
  </select>
  <select id="findAll" resultMap="findAll_Result" >
    SELECT * FROM application T
    <!--<where>
      <if test="whereClause != null and whereClause !=''">
        ${whereClause}
      </if>
    </where>
    <if test="orderBy != null and orderBy !=''">
      ORDER BY ${orderBy}
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>-->
  </select>
  <select id="findAllByAccountId" resultMap="findAll_Result" >
    SELECT * FROM application where account_id = ${accountId}
  </select>
  <select id="isExist" >
    SELECT COUNT(*) AS "Count" FROM application T WHERE $WhereClause$
  </select>
  <select id="hasAuthority" >
    SELECT COUNT(*) AS "Count" FROM view_AuthObject_Account view1, application_scope Scope
    WHERE
    view1.AccountId = #accountId#
    AND View1.AuthorizationObjectId = Scope.AuthorizationObjectId
    AND View1.AuthorizationObjectType = Scope.AuthorizationObjectType
    AND Scope.AuthorityId = #AuthorityId#
    AND Scope.ApplicationId = #ApplicationId#
  </select>
  <insert id="addAuthorizationScopeObject">
    INSERT INTO application_scope
    (authorization_object_type, authorization_object_id, authority_id, application_id, modified_date, created_date)
    VALUES
    (#AuthorizationObjectType#, #AuthorizationObjectId#, #AuthorityId#, #ApplicationId#, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
  </insert>
  <delete id="removeAuthorizationScopeObjects">
    DELETE FROM application_scope WHERE application_id = #applicationId# AND authority_id = #authorityId#
  </delete>
  <select id="getAuthorizationScopeObjects" >
    SELECT * FROM application_Scope T WHERE application_id = #applicationId# AND authority_id = #authorityId#
  </select>
</mapper>
