<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.connect.mappers.ConnectAccessTokenMapper">
  <resultMap id="BaseResultMap" type="com.x3platform.connect.models.ConnectAccessToken">
    <result property="id" jdbcType="VARCHAR" column="id" />
    <result property="appKey" jdbcType="VARCHAR" column="app_key" />
    <result property="accountId" jdbcType="VARCHAR" column="account_id" />
    <result property="expireDate" jdbcType="TIMESTAMP" column="expire_date" />
    <result property="refreshToken" jdbcType="VARCHAR" column="refresh_token" />
    <result property="modifiedDate" jdbcType="TIMESTAMP" column="modified_date" />
    <result property="createdDate" jdbcType="TIMESTAMP" column="created_date" />
  </resultMap>
  <sql id="Select_Where_Clause">
    <where>
      <if test="param_id != null and param_id != ''">
        AND t.id = #{param_id}
      </if>
      <if test="param_app_key != null and param_app_key != ''">
        AND t.app_key = #{param_app_key}
      </if>
      <if test="param_account_id != null and param_account_id != ''">
        AND t.account_id = #{param_account_id}
      </if>
      <if test="param_expire_date != null">
        AND t.expire_date = #{param_expire_date}
      </if>
      <if test="param_refresh_token != null and param_refresh_token != ''">
        AND t.refresh_token = #{param_refresh_token}
      </if>
      <if test="param_modified_date != null">
        AND t.modified_date = #{param_modified_date}
      </if>
      <if test="param_created_date != null">
        AND t.created_date = #{param_created_date}
      </if>
    </where>
  </sql>
  <insert id="insert" parameterType="com.x3platform.connect.models.ConnectAccessToken">
    INSERT INTO connect_access_token
    (
    id,
    app_key,
    account_id,
    expire_date,
    refresh_token,
    modified_date,
    created_date
    )
    VALUES
    (
      #{id,jdbcType=VARCHAR},
      #{appKey,jdbcType=VARCHAR},
      #{accountId,jdbcType=VARCHAR},
      #{expireDate,jdbcType=TIMESTAMP},
      #{refreshToken,jdbcType=VARCHAR},
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.x3platform.connect.models.ConnectAccessToken">
    UPDATE connect_access_token SET

      app_key = #{appKey,jdbcType=VARCHAR},
      account_id = #{accountId,jdbcType=VARCHAR},
      expire_date = #{expireDate,jdbcType=TIMESTAMP},
      refresh_token = #{refreshToken,jdbcType=VARCHAR},
      modified_date = CURRENT_TIMESTAMP

    WHERE id = #{id}
  </update>
  <delete id="delete" parameterType="java.lang.String">
    DELETE FROM connect_access_token WHERE id = #{id}
  </delete>
  <select id="findOne" parameterType="java.lang.String" resultMap="BaseResultMap" >
    SELECT * FROM connect_access_token WHERE id = #{id}
  </select>
  <select id="findOneByAccountId" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM connect_access_token WHERE app_key = #{app_key} and account_id = #{account_id} LIMIT 0, 1
  </select>
  <select id="findOneByRefreshToken" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM connect_access_token WHERE app_key = #{app_key} and refresh_token = #{refresh_token}
  </select>
  <select id="findAllByRefreshToken" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM connect_access_token WHERE app_key = #{app_key} and refresh_token = #{refresh_token}
  </select>
  <select id="findAll" parameterType="java.util.Map" resultMap="BaseResultMap" >
    SELECT * FROM connect_access_token t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator="," >
        #{order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>
  <select id="getRowCount" >
    SELECT COUNT(0) AS "RowCount" FROM connect_access_token t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
  </select>
  <select id="isExist" resultType="boolean" >
    SELECT COUNT(0) AS "Count" FROM connect_access_token WHERE id = #{id}
  </select>
  <select id="isExistAccountId" resultType="boolean" >
    SELECT COUNT(0) AS "Count" FROM connect_access_token WHERE app_key = #{app_key} and account_id = #{account_id}
  </select>
  <update id="refresh" parameterType="java.util.Map">
    UPDATE connect_access_token SET expire_date = #{expire_date}, refresh_token = #{next_refresh_token}, modified_date = CURRENT_TIMESTAMP WHERE app_key = #{app_key} AND refresh_token = #{refresh_token}
  </update>
  <update id="refresh" parameterType="java.util.Map" databaseId="mysql" >
    UPDATE connect_access_token SET expire_date = #{expire_date}, refresh_token = #{next_refresh_token}, modified_date = CURRENT_TIMESTAMP WHERE app_key = #{app_key} AND refresh_token = #{refresh_token}
  </update>
  <update id="refresh" parameterType="java.util.Map" databaseId="oracle" >
    UPDATE connect_access_token SET expire_date = to_date(#{expireDate},'yyyy-mm-dd hh24:mi:ss'), refresh_token = #{next_refresh_token}, modified_date = CURRENT_TIMESTAMP WHERE app_key = #{app_key} AND refresh_token = #{refresh_token}
  </update>
  <delete id="clear" databaseId="mysql" >
    <![CDATA[DELETE FROM connect_access_token WHERE expire_date < ${expiryTime}]]>
  </delete>
  <delete id="clear" databaseId="oracle" >
    <![CDATA[DELETE FROM connect_access_token WHERE expire_date < to_date(${expiryTime},'yyyy-mm-dd hh24:mi:ss')]]>
  </delete>
</mapper>
