<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.x3platform.digitalnumber.mappers.DigitalNumberMapper">
  <resultMap id="findOne_Result" type="com.x3platform.digitalnumber.models.DigitalNumber">
    <result property="name" column="name"/>
    <result property="expression" column="expression"/>
    <result property="seed" column="seed"/>
    <result property="description" column="description"/>
    <result property="locking" column="locking"/>
    <result property="modifiedDate" jdbcType="TIMESTAMP" column="modified_date"/>
    <result property="createdDate" jdbcType="TIMESTAMP" column="created_date"/>
  </resultMap>
  <resultMap id="findAll_Result" type="com.x3platform.digitalnumber.models.DigitalNumber">
    <result property="name" column="name"/>
    <result property="expression" column="expression"/>
    <result property="seed" column="seed"/>
    <result property="description" column="description"/>
    <result property="locking" column="locking"/>
    <result property="modifiedDate" jdbcType="TIMESTAMP" column="modified_date"/>
    <result property="createdDate" jdbcType="TIMESTAMP" column="created_date"/>
  </resultMap>
  <sql id="Select_Where_Clause">
    <where>
      <!-- 列表查询 -->
      <if test="var_scene == 'Query'">
        <if test="param_search_text != null and param_search_text != ''">
          t.name LIKE concat('%',#{param_search_text},'%') OR t.description LIKE concat('%',#{param_search_text},'%')
        </if>
      </if>

      <!-- 默认 -->
      <if test="var_scene == 'default'">
        <if test="param_name != null and param_name != ''">
          AND t.name = #{param_name}
        </if>
        <if test="param_description != null and param_description != ''">
          AND t.description = #{param_description}
        </if>
      </if>
    </where>
  </sql>
  <insert id="insert" parameterType="com.x3platform.digitalnumber.models.DigitalNumber">
    INSERT INTO sys_digital_number
    (
      name,
      expression,
      seed,
      description,
      locking,
      modified_date,
      created_date
    )
    VALUES
    (
      #{name},
      #{expression},
      #{seed},
      #{description},
      #{locking},
      CURRENT_TIMESTAMP,
      CURRENT_TIMESTAMP
    )
  </insert>
  <update id="update" parameterType="com.x3platform.digitalnumber.models.DigitalNumber">
    UPDATE sys_digital_number SET

      expression = #{expression},
      seed = #{seed},
      description = #{description},
      locking = #{locking},
      modified_date = CURRENT_TIMESTAMP

    WHERE name = #{name}
  </update>
  <insert id="save" parameterType="com.x3platform.digitalnumber.models.DigitalNumber">
      IF EXISTS(SELECT 0 FROM sys_digital_number WHERE Name = #name#)
      BEGIN
      UPDATE sys_digital_number SET

      expression = #Expression#,
      seed = #Seed#,
      modified_date = CURRENT_TIMESTAMP

      WHERE Name = #Name#
      END
      ELSE
      BEGIN
      INSERT INTO sys_digital_number
      (
        Name,
        Expression,
        Seed,
        ModifiedDate,
        CreatedDate
      )
      VALUES
      (
        #Name#,
        #Expression#,
        #Seed#,
        CURRENT_TIMESTAMP,
        CURRENT_TIMESTAMP
      )
      END
  </insert>
  <delete id="delete">
    DELETE FROM sys_digital_number WHERE Name = #{name}
  </delete>
  <select id="findOne" resultMap="findOne_Result">
    SELECT * FROM sys_digital_number WHERE Name = #{name}
  </select>
  <select id="findAll" resultMap="findAll_Result">
    SELECT * FROM sys_digital_number t
    <if test="_parameter != null">
      <include refid="Select_Where_Clause" />
    </if>
    <if test="orders != null and orders.size() > 0">
      ORDER BY
      <foreach collection="orders" item="order" index="index" separator="," >
        ${order}
      </foreach>
    </if>
    <if test="length > 0">
      LIMIT 0, ${length}
    </if>
  </select>
  <select id="isExistName" resultType="boolean">
    SELECT COUNT(0) AS "Count" FROM sys_digital_number WHERE Name = #{name}
  </select>
  <select id="getMaxSeedByPrefix" resultType="java.lang.Integer" databaseId="mysql">
      SELECT IF( COUNT(0)>0,
      (SELECT CAST(MAX(REPLACE(code, '${prefix}', '')) AS SIGNED) FROM ${entity_table_name} WHERE code LIKE '${prefix}%'),
      0
      ) AS MaxCode
      FROM $EntityTableName$
      WHERE code LIKE '${prefix}%';
    </select>
  <select id="getMaxSeedByPrefix" resultType="java.lang.Integer" databaseId="sqlserver">
      IF EXISTS ( SELECT 0 FROM ${entity_table_name} WHERE Code LIKE '${prefix}%' )
      BEGIN
        SELECT CONVERT(int, MAX(REPLACE(Code, '${prefix}', '')))
        FROM ${entity_table_name}
        WHERE code LIKE '${prefix}%'
      END
      ELSE
      BEGIN
        SELECT 0
      END
  </select>
  <select id="getPrefixCodeByCategoryId" resultType="java.lang.String">
    SELECT prefix_code FROM ${entity_category_table_name} T WHERE id = #{entity_category_id}
  </select>
</mapper>
